/*
    Anatomia

    - Selector 'h1'
    - Declaration '{}'
    - Propertiese 'color, font-size, background'
    - Property Value 'blue, 60px, gray'
*/

h1 { 
    color: blue; 
    font-size: 60px;
    background: gray;
}
